@use "./utils/variables" as var;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var.$tertiary transparent;
  scrollbar-width: thin;
  letter-spacing: 0.5px;
}
*::selection {
  background-color: var.$light;
  color: var.$dark;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var.$tertiary;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var.$sans-serif;
  background-color: var.$light;
  overflow-x: hidden;
  position: relative;
  transition: 0.5s ease all;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
p {
  font-size: 14px;
  font-weight: 300;
  color: var.$dark-alt;
  line-height: 150%;
  letter-spacing: 0.5px;
}
p a {
  color: var.$dark-alt;
  transition: 0.5s ease all;
  text-decoration: none;
}
p a:hover {
  color: var.$primary;
}

// Container
.container {
  padding: 0 30px;
  width: 100%;
}

// Main
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  .sidebar {
    width: 224px;
    height: 100vh;
    background: var.$secondary;
    padding: 15px 15px 5px;
    position: sticky;
    top: 0;
  }

  .content {
    width: 100%;

    &.active {
      width: calc(100% - 224px);
    }
  }
}

// Sidebar
.sidebar {
  // Head
  .head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    .logo {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
    }

    .text {
      cursor: pointer;
      h5 {
        font-size: 16px;
        font-weight: 500;
        color: var.$light;
        margin-bottom: 7px;
      }
      h6 {
        font-size: 12px;
        font-weight: 300;
        color: var.$light-alt;
        text-decoration: underline;
      }
    }

    button {
      border: 0;
      outline: 0;
      background: transparent;
      color: var.$light;
      margin-left: auto;
      cursor: pointer;
    }
  }

  // Links
  .navbar {
    margin-top: 20px;
    height: calc(100% - 134px);
    overflow-y: auto;

    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        border-radius: 3px;
        transition: 0.5s ease all;

        &:hover,
        &.active {
          background: var.$tertiary;
        }

        svg {
          width: 20px;
          height: 20px;
          color: var.$light;
        }
        span {
          font-size: 14px;
          font-weight: 400;
          color: var.$light;
          text-transform: capitalize;
        }
      }
    }
  }

  // Wallet
  .wallet {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background: var.$tertiary;
    padding: 10px;
    border-radius: 3px;

    .icon {
      width: 30px;
      height: 30px;
      svg {
        width: 100%;
        height: 100%;
        color: var.$light;
      }
    }

    .text {
      p {
        font-size: 12px;
        font-weight: 300;
        color: var.$light-alt;
        opacity: 0.7;
        margin-bottom: 5px;
      }
      h6 {
        font-size: 18px;
        font-weight: 600;
        color: var.$light;
      }
    }
  }
}

// Header
.header {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var.$border-color;

  .title {
    width: 30%;
    h1 {
      font-size: 20px;
      font-weight: 600;
      color: var.$dark;
      text-transform: capitalize;
    }
  }

  .search-form {
    width: 40%;
    border: 1px solid var.$border-color;
    background: var.$light-alt;
    padding: 7px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    svg {
      width: 20px;
      height: 20px;
      color: #808080;
    }

    input {
      border: 0;
      outline: 0;
      background: transparent;
      font-size: 14px;
      font-weight: 500;
      color: var.$dark-alt;
      width: calc(100% - 30px);
    }
  }

  .actions {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .help-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var.$dark-alt;

      span {
        font-size: 14px;
        font-weight: 500;
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

      &::after {
        content: "|";
        margin: 0 5px 0 20px;
        color: var.$light-alt;
      }
    }

    .sidebar-toggle,
    .download-btn {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: var.$light-alt;
      border: 0;
      outline: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      color: var.$dark-alt;
      transition: 0.5s ease all;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background: var.$secondary;
        color: var.$light;
      }
    }
    .sidebar-toggle {
      background: rgba(20, 110, 180, 0.1);
      color: var.$primary;
    }
  }
}

// Title
.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 30px 0;

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: var.$dark;
  }

  select {
    padding: 10px;
    background: var.$light;
    border: 1px solid var.$light-alt;
    border-radius: 5px;
    appearance: none;
    width: 150px;
    font-size: 14px;
    font-weight: 400;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
  }
}

// Cards
.cards {
  margin: 0 0 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  .card {
    border: 1px solid var.$light-alt;
    background: var.$light;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 #0001;

    .card-body {
      padding: 20px;

      h6 {
        font-size: 16px;
        font-weight: 400;
        color: var.$dark-alt;
        margin-bottom: 20px;
      }

      h5 {
        font-size: 30px;
        font-weight: 600;
        color: var.$dark;
      }
    }

    .card-footer {
      padding: 20px;
      border-top: 1px solid var.$light-alt;
    }

    &.active {
      background: var.$primary;
      .card-footer {
        border-color: #fff3;
      }
      h5,
      h6 {
        color: var.$light;
      }
    }
  }
}

// Table
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 30px;

  th {
    background: var.$light-alt;
  }

  td {
    span {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      margin: 0 5px 3px;
      background: #808080;
      display: inline-block;

      &.success {
        background: green;
      }
    }
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 10px;
  }
}
